a {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
}

.galleryImage {
  background-color: rgba(3, 177, 244, 0.05);
  border: 1px solid rgba(8, 21, 101, 0.2);
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgb(8, 21, 101);
  position: relative;
  width: 300px;
}

.galleryImage img {
  border-radius: 14px 14px 0 0;
}

.galleryImage p {
  color: rgb(8, 21, 101);
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.button {
  margin-top: 30px;
  min-width: 80px;
}