body {
  box-sizing: border-box;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  color: rgb(8,21,101);
  font-family: Helvetica, Arial, Lucida, sans-serif;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  height: 36px;
  padding: 5px 10px;
}
table th {
  background-color: rgb(12, 74, 133);
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 10px;
  text-align: left;
}
table tr:nth-child(2n) {
  background: rgba(12, 74, 133, 0.05);
}